body{
    background-color: rgb(219,226,118);
    margin: 0;
    position: relative;
}
.header{
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;

}
.header-left{
    display:flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.login-button{
    width: 120px;
    height: 50px;
    background-color: rgb(101, 152, 230);
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
    border-radius: 4px;
    vertical-align: center;
    transition: 0.2s;
}
.login-button:hover{

    width: 150px;
    height: 62.5px;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.4);
    font-size: 25px;
    vertical-align: center;
    cursor: pointer;
}
.login-button:active{
    opacity: 0.7;
}
.header-center{
    flex: 1;
    min-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
}



.header-center button:not(.new-join-button){
    height: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    position: absolute;
    transition: 0.1s
}
.header-center button:not(.new-join-button):hover{
    color: rgb(255,239,56);
    cursor: pointer;
}
.blog-button{
    right: 10px;
}
.story-button{
    right: 60px;
}
.adoption-button{
    right: 175px;
}
.contact-button{
    right: 295px;
}   
.button-divider{
    border-left: 2px solid rgb(0, 0, 0);
    height: 30px; 
    position:absolute;
    z-index: 1000;
}
#divider1{
    right: 56px;
} 
#divider2{
    right: 170px;
}
#divider3{
    right: 290px;
}
.header-right{
    display: flex;   
    width: 150px;   
    position: relative;
    align-items: center;
    min-width: 100px;
}
.logo{
    width: 95%;
    height: 95%;
    position:absolute;
    top: 3px;
    left:0;
    
}
.new-join-button{
    font-size: 20px;
    width: 200px;
    height: 45px;
    border: none;
    color: white;
    background-color: #fd7c19;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
    border-radius: 4px;
    transition: 0.2s;
}
.new-join-button:hover{
    cursor:pointer;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.4);
    width: 250px;
    font-size: 25px;
    height: 56.25px;
    transition: 0.2s;
}
.new-join-button:active{
    opacity:0.7;
}
.login-page{
    background-color: rgb(255, 217, 147);
    height: 500px;
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
}
.closeButton{
    height: 50px;
    width: 50px;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 60px;
    padding: 0px;
    line-height: 15px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgb(255,217,147);
    transition: 0.2s;
}
.closeButton:hover{
    background-color: rgb(253, 206, 118)
}