@font-face {
  font-family: "Ploni";
  src: url("../Fonts/ploni-regular-aaa\ \(1\).ttf");
}

@font-face {
  font-family: "Almoni";
  src: url("../fonts/Almoni-Regular.otf");
  font-weight: normal;
  margin-top: 30px;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Ploni";
  src: url("../Fonts/ploni-bold-aaa.a5b40e4.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Ploni";
  src: url('../Fonts/ploni-medium-aaa.1299fb2.ttf');
  font-weight:500;
}

html, body {
  direction: rtl;
  margin: 0 !important;
  padding: 0 !important;
  height: 201vh;
  display: block;
  overflow: hidden;
  width: 100vw;
  text-align: center;
}

canvas{
  position: fixed;
  display: block;
  top: -100vh;
}

h{
  height: 16vmin;
  font-size: 15vmin;
  display: block;
  position: relative;
  color: white;
  font-family: "Ploni";
  font-weight: bold;
}

.nameBar{
  display: inline-block;
  height: min-content;
}

.topBar{
  display: flex;
  direction: rtl;
  justify-content: center;
}

h1{
  font-size: 5.5vmin;
  margin-bottom: 200px;
  display:inline;
  position: relative;
  color: white;
  font-family: "Ploni";
  font-weight: normal;
}

.border{
  border-bottom: 1vh dashed rgba(255, 255, 255, 0.384);
  width: 100vw;
  display: block;
}

.profileColor{
  padding: 0;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  border: none;
  position: relative;
  right: 1vw;
  bottom: 1.3vmin;
}

.profileColor:hover{
  background-color: #FF4444;
  cursor:pointer;
}

.colorInfo{
  display: flex;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 10vw;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  height: 15vh;
  right: 170%;
  top: 0;
  align-items: center;
}

.colorInfo p{
  font-size: 125%;
  font-family: "Rubik";
  margin: 0 auto;
  text-align:start;
  color: #00000000;
  position: relative;
}

.background{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(228, 148, 28);
}