.quastionaire{
    background-color: blue;
    height: 1000px  ;
    width: 800px;
    float: right;
    row-gap: 80px;
    position: relative;
}
p{
    display:inline;
    font-size: 30px;
}
input{
    width: 400px;
    height: 40px;
    display:inline;
    font-size: 30px;
    direction: rtl;
}
.quastionaire div{
display: inline-block;
position:absolute;
}
#insert-name{
    right:10px;
}
#insert-id{
    right:10px;
    top:100px;
}
#insert-phone{
    right:10px;
    top: 200px;
}
#insert-gmail{
    right: 10px;
    top: 300px;
}
#insert-password{
    right:10px;
    top: 400px;
}
.sign-up-button{  
    background-color: rgb(196, 30, 30);
    width: 400px; 
    height: 60px; 
    border-style: solid;
    border-color: black;
    font-size: 30px;
}
.sign-up-button:hover{
    cursor:pointer;
}