.quastionaire{
    background-color: #80dbc3;
    width: 800px;
    float: right;
    row-gap: 80px;
    height: 1000px;
    position: relative;
}
p{
    font-size: 30px;
    right: 20px;
    margin: 0;
    display: block;
    float: right;
    margin-right: 20px;
}
input{  
    margin: 1px;
    height: 40px;
    font-size: 30px;
    direction: rtl;
    position: relative;
    float: right;
    outline: none;
    border: none;
}
input:active{
    border:none;    
}
.question-div{
position:absolute;
right: 60px;
background-color: white;
border-style: solid;
border-color:blue;
padding-left: 20px;
border-radius: 20px;
width: 600px;

}

#insert-id{
    top:100px;
}
#insert-phone{
    top: 200px;
}
#insert-gmail{
    top: 300px;
}
#insert-password{
    top: 400px;
}
.sign-up-button{  
    background-color: rgb(196, 30, 30);
    width: 400px; 
    height: 60px; 
    border-style: solid;
    border-color: black;
    font-size: 30px;
}
.sign-up-button:hover{
    cursor:pointer;
}
.file-select-button{
    background-color: rgb(212, 5, 231);
    width: 400px; 
    height: 60px; 
    border-style: solid;
    border-color: black;
    font-size: 30px;  
}
