@font-face {
    font-family: "Heebo";
    src: url("../Fonts/Heebo-VariableFont_wght.ttf");
  }



  body{
    direction: rtl;
    background-image: url('../Images/SignupBackground.png');
    background-repeat: no-repeat;
    background-size:100vw;
    background-color: #aed8e6;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    left: 50%;
  }
  
.quastionaire{
    width: 800px;
    float: right;
    row-gap: 80px;
    height: 600px; 
    position: relative;
}
p{
    direction: ltr;
    font-size: 30px;
    right: 20px;
    margin: 0;
    display: block;
    float: right;
    margin-right: 20px;
}
input{
    background-color: #f1f1f1;
    height: 40px;
    font-size: 30px;
    direction: rtl;
    position: relative;
    border-radius: 20px;
    padding-right: 30px;
    float: left;
    outline: none;
    border: none;
}

.question-div{
    position:absolute;
    right: 60px;
    background-color: white;
    border-style: solid;
    border-color:rgb(143, 143, 143);
    border-radius: 20px;
    width: 600px;
    
    }
    

#insert-name{
    top: 75px;
}
#insert-id{
    top: 175px;
}
#insert-phone{
    top: 275px;
}
#insert-gmail{
    top: 375px;
}
#insert-password{
    top: 475px;
}
.sign-up-button{ 
    color: white;
    background-color: rgba(255, 255, 255, 0.336);
    width: 400px; 
    height: 60px; 
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 50px;
    transition: ease-in-out 0.5s;
    border-radius: 50vb;
}
.sign-up-button:hover{
    cursor:pointer;
    width: 500px;
    height: 75px;
}
.sign-up-button:active{
    opacity: 0.7;
}
.file-select-button{
    background-color: rgb(212, 5, 231);
    width: 400px; 
    height: 60px; 
    border-style: solid;
    border-color: black;
    font-size: 30px;  
}
