html {
  direction: rtl;
}

@font-face {
  font-family: "Ploni";
  src: url("../Fonts/ploni-regular-aaa\ \(1\).ttf");
}

@font-face {
  font-family: "Almoni-Regular";
  src: url("../fonts/Almoni-Regular.otf");
  font-weight: normal;
  margin-top: 30px;
}

@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Ploni";
  src: url("../Fonts/ploni-bold-aaa.a5b40e4.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Ploni";
  src: url('../Fonts/ploni-medium-aaa.1299fb2.ttf');
  font-weight:500;
}

html {
  box-sizing: border-box;
  direction: rtl;
  display: block;
  font-family: sans-serif;
  font-size: 10px;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

head {
  box-sizing: border-box;
  direction: rtl;
  display: none;
  font-family: sans-serif;
  font-size: 10px;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: white;
  box-sizing: border-box;
  color: rgb(51, 50, 50);
  direction: rtl;
  display: block;
  font-family: "Rubik-Light", Arial, sans-serif;
  font-stretch: 100%;
  font-size: 10px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar {
  display: none;
}


header {
  display: block;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 10vh;
  background: linear-gradient(#00000092, #00000000);
}

.barLogo {
  padding-top: 2vh;
  height: 60%;
  width: 100%;
}

.hl {
  position: absolute;
  border-bottom: 2px solid #ffffff85;
  top: 10vh;
  width: 100%;
}

.logoLink {
  height: 100%;
  display: inline-block;
  line-height: 67px;
  width: 10vw;
}

header ul {
  width: auto;
  float: left;
  box-sizing: border-box;
  display: block;
  margin-top: 2vh;
  height: 6vh;
  position: relative;
  padding: 0 0 0 0;
  list-style-position: outside;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

header li {
  float: left;
  margin: 0;
  height: 100%;
  direction: rtl;
  display: table;
  vertical-align: middle;
  list-style: none;
  transition: padding 0.2s ease-in-out;
}

.menuButton {
  color: white;
  font-family: "Ploni", Arial, sans-serif;
  font-size: 3vmin;
  display: table-cell;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 21vw;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: font-size 0.2s ease-in-out;
}

.menuButton:hover {
  font-size: 4vmin;
  color: #ccc;
}

.Lobi {
  box-sizing: border-box;
  background-size: contain;
}

.mainWrap {
  box-sizing: border-box;
  outline-color: rgb(197, 196, 196);
}

.banner {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  height: 100vh;
}

.bannerImgWrapper {
  box-sizing: border-box;
  color: rgb(51, 50, 50);
  direction: rtl;
  box-sizing: border-box;
  height: 100vh;
  line-height: 14px;
  text-align: center;
  outline-color: rgb(197, 196, 196);
}

.bannerImgWrapper::before {
  display: inline;
  box-sizing: border-box;
  background-attachment: initial, initial;
  background-clip: border-box, border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box, padding-box;
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: initial;
  background-size: auto, auto;
  color: rgb(51, 50, 50);
  content: "";
  direction: rtl;
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  line-height: 14px;
  text-align: center;
  top: 0px;
  z-index: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

.footer {
  z-index: -1;
  position: fixed;
  border-bottom-color: rgb(51, 50, 50);
  border-bottom-style: none;
  border-image-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(51, 50, 50);
  border-left-style: none;
  border-right-width: 0px;
  border-top-color: rgb(51, 50, 50);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(51, 50, 50);
  min-height: 100%;
  min-width: 100%;
  vertical-align: middle;
}

.bannerHeader {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  color: rgb(51, 50, 50);
  outline-color: rgb(197, 196, 196);
  padding-bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  text-size-adjust: 100%;
  height: fit-content;
}

.Title {
  cursor: default;
  transform: translate(0, -20%);
  vertical-align: text-top;
  box-sizing: border-box;
  vertical-align: middle;
  color: white;
  font-family: "Ploni", Arial, sans-serif;
  font-weight: bold;
  font-size: 12vw;
  text-align: center;
}

.SubTitle {
  cursor: default;
  display: block;
  box-sizing: border-box;
  font-family: "Ploni", Arial, sans-serif;
  color: white;
  font-size: 4.07vw;
}

.vl {
  display: table-cell;
  height: 20%;
  width: 1vw;
  border-right: 2px solid white;
}

.vlli {
  padding: 0;
  height: 70%;
  transform: translate(0, 25%);
}

.info {
  width: 100vw;
  height: 100vh;
  z-index: 12;
  background-color: #9c6f44;
}

.loginBox {
  border-radius: 60px;
  border: 2px solid white;
  box-shadow: 0 0 200px #00000055;
  backdrop-filter: blur(40px);
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1000;
  position: fixed;
  height: 70%;
  background-color: #ffffff22;
  right: 30%;
  left: 30%;
  text-align: center;
}

.loginBox h {
  top: 8%;
  position: relative;
  font-family: "Ploni";
  font-weight: bold;
  font-size: 400%;
  color: #fff;
}
.loginBox form {
  margin: 0;
  display: block;
  position: relative;
  top: 20%;
  height: 65%;
  right: 10%;
  width: 80%;
}

.loginBox label {
  top:20%;
  color: #FFF;
  position: absolute;
  font-family: "Ploni";
  font-size: 2.5em;
  pointer-events: none;
  transition: 0.2s;

}

.loginBox input {
  font-family: 'Ploni';
  background-color: #0000 !important; 
  border: none;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  font-size: 2.5em;
  color: #FFF;
  border: none;
  outline: none;
  transition: 0.2s;
  font-weight: 500;
  border-bottom: 2px solid #FFF;
}

.closeButton{
  transition: all 300ms ease;
  background-color: transparent;
  color: #FFF;
  font-family: 'Ploni';
  font-size: 210%;
  border-radius: 2000px;
  top:3%;
  right: 3%;
  position: absolute;
  border: none;
  height: 5vmin;
  width:  5vmin;
}

.closeButton:hover{
  font-size: 350%;
}

.loginBox input:valid~label{
  color:#CCC;
  top: -50%;
  font-size: 2em;
}

.loginBox input:valid{
  color:#CCC;
  border-bottom: 2px solid #CCC;
}

.loginBox input:focus~label{
  top: -50%;
  font-size: 2em;
  color: #FFF;
}

.loginBox input:focus{
  color:#FFF;
  border-bottom: 2px solid #FFF;
}

.userType {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  height: 10%;
}

.passwordType {
  margin-top: 8%;
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  height: 10%;
}

.submit{
  position: absolute;
  background-color: transparent;
  border-radius: 2000px;
  border: solid 2px white;
  font-family: 'Ploni';
  font-weight: 500;
  color: #FFF;
  font-size: 2vw;
  bottom: 5%;
  width: 50%;
  height: 20%;
  right: 25%;
  left: 25%;
  transition: 0.2s ease-in-out;
}

.submit:hover{
  height: 25%;
  width:60%;
  right:20%;
  left: 20%;
  bottom: 2.5%;
  font-size: 3vw;
  background-color: #FFFFFF55;

}

.submit:active{
  background-color: #FFFFFF77;
}

