@font-face {
    font-family: 'Almoni-Regular';
    src: url('../fonts/Almoni-Regular.otf');
    font-weight: normal;
    margin-top: 30px;

}
@font-face {
    font-family: 'Rubik-Light';
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
    font-weight: normal;
}
.topBanner{
    width: 100vw;
    position: static;
    /* absolute, fixed, relative, static, sticky, -ms-page,webkit, inherit, initial,unset */
    text-align: center;
    overflow:hidden;
}
.Title{
    font-family: 'Almoni-Regular',Arial,sans-serif;
    font-size: 60px;
}
.SubTitle{
    margin-top: 60px;
    font-family:'Rubik-Light',Arial,sans-serif;
    font-size: 30px;

}